.shopping-cart-icon-modal {
  background-color: hsl(209, 23%, 22%);
  border: 0;
}

.shopping-cart-icon-modal:hover {
  background-color: hsl(207, 26%, 17%);
  border: 0;
  outline: none;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  border: 2px solid #8fe3cf;
  padding: 10px;
  border-radius: 10px;
}

.cart-item img {
  height: 50px;
  margin-right: 25px;
}
