.navigation-bar {
  background-color: hsl(209, 23%, 22%);
}

.shopping-cart {
  font-size: 1.8rem;
  color: #fff;
  margin-right: 0.5rem;
  cursor: pointer;
}

.navbar-cart-container {
  position: relative;
}

.item-number {
  position: absolute;
  top: -15%;
  left: 65%;
  font-size: 1.1rem;
  color: white;
  border-radius: 50%;
  background-color: hsl(207, 26%, 17%);
  padding: 14px 8.5px;
}
